 @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
  
    --bg-nav:#FFFFFF;
    --color-btn:#2E4493;
    --btn-color:#ffffff;
    --font-colornav:black;
    --btn1:white;
    --bg:#8DC1CD;
    --font-colorbg:#263F5E;
    --font-colorbtbg:#263F5E;
    --bg2:#e5f3fa;
    --font1:#13C5DD;
    --font2:#1D2A4D;
    --font3:#1D2A4D;
    --bg3:#d9e8eb;
    --bg-footer:#1A233A;
    --footer-color:#13C5DD;
    --footer-color2:#a0a6b5;
    --bg-footer2:#111827;
    --footer-links-color:#a0a6b5;
    --btn-color2: #0b0b0b;
    --pColor:rgb(13, 13, 13);
    --card-bg:rgb(255, 255, 255);

}


    /* start-darkMode */
 body.dark-mode {
    --bg-nav: #0a0a0a;         
    --color-btn: #eff4fd;    
    --btn-color: #000000;  
    --btn1:rgb(3, 3, 3);     
    --font-colornav: #fef8f8;   
    --bg: #000000;             
    --font-colorbg: #f9f2f2;   
    --bg2: #000101;             
    --font1: #f3f3f3;          
    --font2: #dbe4ef;           
    --font3: #f1f3f6;         
    --bg3: #0b0f19;             
    --bg-footer: #020617;      
    --footer-color: #38bdf8; 
    --footer-color2: #9ca3af;   
    --bg-footer2: #030712;      
    --footer-links-color: #9ca3af; 
    --btn-color2: gold;
    --pColor:rgb(230, 230, 230);
    --card-bg:rgb(93, 87, 87);
}


.toggle-button {
    margin-left:30px;
    background: none;
    border:none;
    color: var(--btn-color2);
} 

/* end-darkMode-btn */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 999;
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: "Cairo", sans-serif;
    background: #ffff;
    color: #131a2f;
    /* line-height: 1.7; */
 } 

 a {
    text-decoration: none;
    color: inherit;
}


button,
input,
select {
    font-family: inherit;
} 
/* /////////////////////////// */




/* Start Navbar */
 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: var(--bg-nav);
    box-shadow: 0 2px 10px rgba(19, 26, 47, 0.06);
    position: fixed;
    width: 100%;
    z-index: 1000;
}


.logo-icon {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-box {
    background-color: var(--color-btn);
    color: var(--btn-color);
    width: 42px;
    height: 42px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.logo {
    font-size: 30px;
    font-weight: 900;
    color: var(--color-btn);
    text-decoration: none;
    letter-spacing: 1px;
}

/* Navigation Links Styling */
 .navigation {
    display: flex;
    gap: 30px;
}

 .navigation a {
    text-decoration: none;
    color: var(--font-colornav);
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 5px;
    position: relative;
    transition: color 0.3s ease;
    right: -400px;
} 

.navigation a:hover{
    color: #11a2d7;
} 


/* Sign In Button */
 .right-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

 .login-btn a {
    text-decoration: none;
    background-color: var(--color-btn);
    color: var(--btn-color);
    padding: 10px 24px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    transition: background 0.3s ease;
    position: absolute;
    top: 0;
    right: 30px;
} 



.login-btn a:hover {
    background-color: #11a2d7;
} 

/* Menu Toggle Button (Default Hidden) */
 .menu-toggle {
    display: none;
    font-size: 24px;
    color: var(--primary-color);
    cursor: pointer; 
 } 

/* End Navbar */

/* /////////////////////////// */

/* Start Home Section */
#home{
    padding: 100px 100px;
}

.main {
    display: flex;
    align-items: center;
    background-image: url('../Images/cc514974491ee807cd9e0759579af702.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
 .main h1{
    color: var(--font-colorbg);
    font-size: 70px;
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 1fr;
} 



.main h2{
    color: var(--font-colorbg);
    font-size: 2em;
    font-weight: 500;
}

.main p{
    color: var(--font-colorbg) ;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-top: 7px;
    margin-bottom: 30px;
}

.btns{
    display: flex;
    gap: 20px;
}

.btn1 {
    background:var(--color-btn);
    color: var(--btn-color);
    padding: 11px 22px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s ease;
    text-decoration: none;
    gap: 100px;
}

.btn2{
    background:var(--color-btn);
    color: var(--btn-color);
    padding: 11px 22px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s ease;
    text-decoration: none;
}

.btn1:hover {
    background: #11a2d7;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(17, 162, 215, 0.25);
}

.btn2:hover {
    background: #11a2d7;
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(17, 162, 215, 0.25);
}
/* End Home Section */






/* ///////////////////// */


/* Start About Section */ 
.section2
{
    padding: 120px 70px;
    background-color: var(--bg2);
}
.left-section
{
    width: 40%;
    height: 80%;
}
.left-section img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.right-section
{
    width: 60%;
    position: relative;
    top: -25px;
    right: -40px;
}
.About
{
    color: var(--font1);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    position: relative;
    top: -10px;
}
.right-section h1
{
    color: var(--font2);
    font-size: 56px;
    line-height: 67px;
    font-weight: 700;
}
.right-section p.text-muted{
    color:var(--pColor) !important;
}
/* End About Section */ 


/* Start Services */
body{
    padding:0px;
    margin:0px;
    background-color:var(--bg3);
    height:100vh;
}
    /* edite card */
.card{
    max-width:300px;
    margin:0;
}
.card img{
    height:150px;
    object-fit:cover;
}
        /* card-transition */
.card{
    border:none;
    box-shadow:0px 3px 7px #1a1a1b14;
    transition: all .5s ease;
}
.card:hover{
    box-shadow:0px 5px 10px rgb(0,0,0,0,.50);
    transform: translatey(-14px);
}
.card-body2 .card-text{
    color:rgb(45, 38, 38);
    font-size:12px;
    font-weight:bolder;
    padding:8px
    
}
/* End Services */

/* Start Footer */

footer {
    background-color:var(--bg-footer); 
    color: var(--footer-color2); 
    font-family: Arial, sans-serif;
    margin-top: 50px;
    bottom: 0;
    position: relative;
    width: 100%;
}


footer .footer-container /* (nesting */ {
    display: flex;
    justify-content: space-between;
    padding: 4rem 2rem;
    max-width: 1200px; /* for responsability */
    margin: auto;
    gap: 2rem;
}
footer.footer-col {
    flex: 1;
}


footer h3 {
    color:var(--footer-color); 
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}




.contact-details p {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-details i {
    color: var(--footer-color);
}


.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 1rem;
}

.footer-links a {
    color: var(--footer-color2);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--footer-color);
}
.newsletter {
    display: flex;
    margin-bottom: 1.5rem;
}

.newsletter input {
    padding: 10px;
    border: none;
    outline: none;
    width: 100%;
}

.newsletter button {
    background-color:var(--footer-color);
    color: var(--bg-nav);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
}


.follow-title {
    margin-top: 2rem;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: var(--footer-color);
    color: var(--bg-nav);
    border-radius: 50%;
    text-decoration: none;
    transition: 0.3s ease;
}

.social-links a:hover {
    background-color: var(--bg-nav);
    color: var(--footer-color);
}


.footer-bottom {
    background-color: #111827; 
    text-align: left;
    padding: 1.5rem 10%;
    color: var(--footer-color);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}
/* End Footer */