:root {
  
    --bg-nav:#FFFFFF;
    --color-btn:#2E4493;
    --btn-color:#ffffff;
    --font-colornav:black;
    --btn1:white;
    --bg:#8DC1CD;
    --font-colorbg:#263F5E;
    --font-colorbtbg:#263F5E;
    --bg2:#e5f3fa;
    --font1:#13C5DD;
    --font2:#1D2A4D;
    --font3:#1D2A4D;
    --bg3:#d9e8eb;
    --bg-footer:#1A233A;
    --footer-color:#13C5DD;
    --footer-color2:#a0a6b5;
    --bg-footer2:#111827;
    --footer-links-color:#a0a6b5;
    --btn-color2: #0b0b0b;

}
body.dark-mode {
    --bg-nav: #0a0a0a;         
    --color-btn: #eff4fd;    
    --btn-color: #ffffff;  
    --btn1:rgb(3, 3, 3);     
    --font-colornav: #fef8f8;   
    --bg: #000000;             
    --font-colorbg: #f9f2f2;   
    --font-colorbtbg: #f5eeee;
    --bg2: #000101;             
    --font1: #f3f3f3;          
    --font2: #dbe4ef;           
    --font3: #f1f3f6;         
    --bg3: #0b0f19;             
    --bg-footer: #020617;      
    --footer-color: #38bdf8; 
    --footer-color2: #9ca3af;   
    --bg-footer2: #030712;      
    --footer-links-color: #9ca3af; 
    --btn-color2: gold;
}



.toggle-button {
    margin-left:30px;
    background: none;
    border:none;
    color: var(--btn-color2);
    position: absolute;
    right:35px;
} 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: "Cairo", sans-serif;
    background: #ffff;
    color: #131a2f;
    /* line-height: 1.7; */
}

a {
    text-decoration: none;
    color: inherit;
}


button,
input,
select {
    font-family: inherit;
}
/* /////////////////////////// */


/* Start NavBar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color:var(--bg-nav);
    box-shadow: 0 2px 10px rgba(19, 26, 47, 0.06);
    position: fixed;
    width: 100%;
    z-index: 1000;
}


.logo-icon {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-box {
    background-color:var(--color-btn);
    color: var(--white);
    width: 42px;
    height: 42px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.logo {
    font-size: 30px;
    font-weight: 900;
    color: var(--color-btn);
    text-decoration: none;
    letter-spacing: 1px;
}

/* Navigation Links Styling */
.navigation {
    display: flex;
    gap: 30px;
}

.navigation a {
    text-decoration: none;
    color: var(--font-colornav);
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 5px;
    position: relative;
    transition: color 0.3s ease;
    right: -200px;
}

.navigation a:hover{
    color: #11a2d7;
}


/* Sign In Button */
.right-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.login-btn a {
    text-decoration: none;
    background-color:var(--color-btn);
    color: var(--white);
    padding: 10px 24px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    transition: background 0.3s ease;
    position: absolute;
    
    top: 15px;
    right: 70px;
}

.btn.btn-primary {
    background-color: var(--color-btn);
    color:var(--btn1)
}

.login-btn a:hover {
    background-color: #11a2d7;
}

/* Menu Toggle Button (Default Hidden) */
.menu-toggle {
    display: none;
    font-size: 24px;
    color: var(--primary-color);
    cursor: pointer;
}

/* End Navbar */
/* ///////////////////////////////////////////////////////////////// */

/* Start About Section */
.about-page {
    padding: 120px 0;
    background-color:var(--bg);
}

.section-title {
    margin-bottom: 70px;
}
.small-title {
    color: var(--font-colorbg);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    display: inline-block;
    border-bottom: 3px solid #11a2d7;
    padding-bottom: 5px;
}

.section-title h1 {
    color: var(--font-colorbtbg); 
    font-size: 42px;
    font-weight: 700;
    margin-top: 15px;
}
.about-text  p {
    color:var(--font-colorbtbg) !important;
}
.about-block {
    margin-bottom: 100px;
}

.slider-img {
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.about-text {
    padding: 40px;
}

.about-text h2 {
    color: var(--color-btn);
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 25px;
}

.about-text p {
    font-size: 17px;
    line-height: 1.8;
}

.about-text .btn {
    margin-top: 15px;
    padding: 12px 25px;
}

.rating-section {
    padding: 70px 20px;
    background-color:var(--footer-color2);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.rating-icon {
    color: var(--font1);
    font-size: 45px;
    margin-bottom: 20px;
}

.rating-section h2 {
    color: var(--color-btn);
    font-size: 36px;
    font-weight: 700;
}

.rating-section p {
    font-size: 17px;
    margin: 20px auto;
}


/* End About Section */

/* @media (max-width: 991px) {

    .about-text {
        padding: 30px 10px;
        margin-top: 30px;
    }

    .about-text h2 {
        font-size: 32px;
    }

    .slider-img {
        height: 300px;
    }

} */