body
{
    background-color: #11a2d7;
}

.cardDoctor
{
    background-color: #e5f3fa;
}

.doctor-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.rating-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid #0d6efd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.appointment {
    border-radius: 20px;
}